<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="ToDo_TestSuite">
    <test name="ToDo_Tests">
                <classes>
            <class name="test.java.ToDo.PositiveTests"/>
            <class name="test.java.ToDo.NegativeTests"/>
        </classes
        ></test>

</suite>